<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="practice.HomePage"/>
       </classes>
      </test> 
      
       <test name="Test1">
        <classes>
      <class name="practice.ValidateData"/>
      </classes>
   </test>
  
</suite> <!-- Suite -->
